<div class="content">
  <h1 class="is-size-1">Credits</h1>
  <h3 class="is-size-3">
    for
    <span class="tag is-info is-large"><%= @period.name %></span>
    from <span class="tag is-info is-large"><%= @period.from %></span> to <span class="tag is-info is-large"><%= @period.to %></span>
  </h3>

  <%= form_for @period, url: set_credits_period_url do |f| %>
    <a class="button is-info super-action"
       data-action-url="<%= set_credits_multi_period_path %>"
       data-should-confirm="true"
       data-confirm-button-text="Set"
       data-confirm-message="#credits-multi-set"
       data-confirm-callback="credits_submit_multiple()"
    >
       Set credits selected
    </a>

    <table class="table periods-credits-table">
      <thead>
        <tr>
          <th class="table-select-column">
            <input type="checkbox" class="table-select-all">
          </th>
          <th>Username</th>
          <th>Email</th>
          <th>Credits</th>
        </tr>
      </thead>

      <tbody>
        <% @credits.each do |credit| %>
          <tr>
            <td>
              <input type="checkbox" name="period[users][]" value="<%= credit[:user].id %>">
            </td>
            <td><%= credit[:user].username %></td>
            <td><%= credit[:user].email %></td>
            <td>
              <span class="is-hidden"><%= credit[:amount] %></span>
              <%= f.text_field :credits, name: "period[amount][#{credit[:user].id}]", id: "period[amount][#{credit[:user].id}]", value: credit[:amount], class: 'input' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="field">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= submit_tag 'Update', class: 'button is-success' %> 
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" name="period[multi_credit]" id="credits-multi-credit">
  <% end %>
</div>

<template id="credits-multi-set">
  <div class="content">
    <p>Set how many credits you want to set to selected users.</p>
    <input type="number" step="0.25" id="credits-multi-credit-multi-set" class="input" value="0.0">
  </div>
</template>

<script>
  const credits_submit_multiple = () => {
    $('#credits-multi-credit').val($('#credits-multi-credit-multi-set').val());
  }
</script>