<div class="content">
  <h1 class="is-size-1">Credits</h1>
  <h3 class="is-size-3">
    for
    <span class="tag is-info is-large"><%= @period.name %></span>
    from <span class="tag is-info is-large"><%= @period.from %></span> to <span class="tag is-info is-large"><%= @period.to %></span>
  </h3>

  <%= form_for @period, url: set_credits_period_url do |f| %>
    <table class="table periods-credits-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Credits</th>
        </tr>
      </thead>

      <tbody>
        <% @credits.each do |credit| %>
          <tr>
            <td><%= credit[:user].username %></td>
            <td><%= credit[:user].email %></td>
            <td>
              <span class="is-hidden"><%= credit[:amount] %></span>
              <%= f.text_field :credits, name: "period[amount][#{credit[:user].id}]", id: "period[amount][#{credit[:user].id}]", value: credit[:amount], class: 'input' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="field">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= submit_tag 'Update', class: 'button is-success' %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
