<div class="content">
  <h1 class="is-size-1">Users</h1>

  <%= form_with class: 'form' do |f| %>
    <a class="button is-danger super-action"
       data-action-url="<%= destroy_multi_users_url %>"
       data-should-confirm="true"
       data-confirm-message="Are you sure to remove selected users?"
    >
       Remove selected
    </a>
    <a class="button is-info super-action" data-action-url="<%= toggle_admin_multi_users_url %>">Toggle admin selected</a>

    <table class="table users-index-table">
      <thead>
        <tr>
          <th class="table-select-column">
            <input type="checkbox" class="table-select-all">
          </th>
          <th>Username</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Created</th>
          <th class="table-actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <input type="checkbox" name="users[]" value="<%= user.id %>">
            </td>
            <td><%= clean_username(user.username) %></td>
            <td><%= user.email %></td>
            <td><span class="is-hidden"><%= user.superadmin %></span><%= icon_bool(user.superadmin) %></td>
            <td><%= user.created_at %></td>
            <td>
              <%=
                link_to(
                  image_tag('minus.svg', class: 'timetracker-icon timetracker-icon-interact'),
                  user_url(id: user.id),
                  title: 'Delete this user',
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                )
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
