<h1>Time!</h1>

<div id="entry-form">
  <%= render 'shared/teedit' %>
</div><!-- /#entry-form -->
<div id="entry-error" class="error" style="display: none;"></div>
<% unless entries.blank? %>
  <table id="entry-list" cellpadding="0" cellspacing="0">
    <tr>
      <th>&nbsp;</th>
      <th>Category</th>
      <th>Project</th>
      <th>Hours</th>
      <% unless session["#{@session_user.id}_active_users"].blank? %>
        <th>User</th>
      <% end %>
    </tr>
    <% @date_shown = [] %>
    <%= render partial: 'shared/teline', collection: entries, locals: { :new_entry => new_time_entry } %>
  </table>
<% end %>

<% unless new_time_entry.blank? %>
  <script type="text/javascript">
    $('#entry-<%= new_time_entry %>').addClass('pulsing');
    setTimeout(() => {
      $('#entry-<%= new_time_entry %>').removeClass('pulsing');
    }, 3000);
  </script>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    update_content('#months', '<%= months_time_entries_url %>', 'authenticity_token=<%= form_authenticity_token %>');
    update_content('#days', '<%= days_time_entries_url %>', 'authenticity_token=<%= form_authenticity_token %>');
    update_content('#popular_categories', '<%= popular_categories_time_entries_url %>', 'authenticity_token=<%= form_authenticity_token %>');
    update_content('#popular_projects', '<%= popular_projects_time_entries_url %>', 'authenticity_token=<%= form_authenticity_token %>');
  });
</script>
