  <div id="new-entry-error"></div>

  <% remote_form_for @time_entry, :url => url_for(:action => :edit, :id => params[:id]), :html => {:method => :post}, :loading => "$('loader').show();", :complete => "$('loader').hide();", :update => {:failure => 'new-entry-error', :success => 'entries', } do |f| %>
    <fieldset>
      <legend>New Entry</legend>
      <table>
        <tr>
          <td valign="top"><label for="time_entry_category">Category:</label></td>
          <td><%= f.text_field :category, :accesskey => 'c' %> <span class="accesskey">alt-c</span>
            <div class="auto_complete" id="time_entry_category_auto_complete"></div>
            <%= javascript_tag "var time_entry_category_auto_completer = new Ajax.Autocompleter('time_entry_category', 'time_entry_category_auto_complete', '#{url_for :action => 'auto_complete_for_time_entry_category'}', {});" %>
          </td>
        </tr>
        <tr>
          <td valign="top"><label for="time_entry_project">Project:</label></td>
          <td><%= f.text_field :project, :accesskey => 'p' %> <span class="accesskey">alt-p</span>
            <div class="auto_complete" id="time_entry_project_auto_complete"></div>
            <%= javascript_tag "var time_entry_project_auto_completer = new Ajax.Autocompleter('time_entry_project', 'time_entry_project_auto_complete', '#{ url_for :action => 'auto_complete_for_time_entry_project'}', {});" %>
          </td>
        </tr>
        <tr>
          <td valign="top"><label for="time_entry_description">Description:</label></td>
          <td><%= f.text_area :description, :size => '40x3', :accesskey => 'r' %> <span class="accesskey">alt-r</span></td>
        </tr>
        <tr>
          <td valign="top"><label for="time_entry_decimal_hours">Time spent:</label></td>
          <td><%= f.text_field :decimal_time, :size => 5, :accesskey => 't' %> <span class="accesskey">alt-t</span></td>
        </tr>
        <tr>
          <td valign="top"><label for="time_entry_entry_date">Date:</label></td>
          <td>
            <%= calendar_date_select_tag "time_entry[entry_date]", @time_entry.entry_date, :accesskey => 'a' %> <span class="accesskey">alt-a</span>
          </tr>
          <tr>
            <td colspan="2" valign="top">
              <%= submit_tag((@time_entry.new_record?) ? 'Add Entry' : 'Edit Entry', :accesskey => 's') %> <span class="accesskey">alt-s</span>
              <%= image_tag('ajax-loader.gif', :id => :loader, :style => "display: none;") %>
            </td>
          </tr>
        </table>
      </fieldset>
    <% end %>
  <%= javascript_tag("
if($('time_entry_category')){
$('time_entry_category').focus();
}
") %>
