<div id="new-entry-error"></div>

<%= form_for @time_entry, url: edit_time_entries_url do |f| %>
  <%= f.hidden_field :id, value: params[:id] %>

  <fieldset>
    <legend>New Entry</legend>
    <table>
      <tr>
        <td valign="top"><label for="time_entry_category">Category:</label></td>
        <td><%= f.text_field :category, :accesskey => 'c' %> <span class="accesskey">alt-c</span>
          <div class="auto_complete" id="time_entry_category_auto_complete"></div>
        </td>
      </tr>
      <tr>
        <td valign="top"><label for="time_entry_project">Project:</label></td>
        <td><%= f.text_field :project, :accesskey => 'p' %> <span class="accesskey">alt-p</span>
          <div class="auto_complete" id="time_entry_project_auto_complete"></div>
        </td>
      </tr>
      <tr>
        <td valign="top"><label for="time_entry_description">Description:</label></td>
        <td><%= f.text_area :description, :size => '40x3', :accesskey => 'r' %> <span class="accesskey">alt-r</span></td>
      </tr>
      <tr>
        <td valign="top"><label for="time_entry_decimal_hours">Time spent:</label></td>
        <td><%= f.text_field :decimal_time, :size => 5, :accesskey => 't' %> <span class="accesskey">alt-t</span></td>
      </tr>
      <tr>
        <td valign="top"><label for="time_entry_entry_date">Date:</label></td>
        <td>
          <%= f.text_field :entry_date, value: @time_entry[:entry_date].strftime('%B %d, %Y') || Time.now.strftime('%B %d, %Y'), :accesskey => 'a' %>
          <span id="calendar-entry"><%= image_tag('icons/calendar.png') %></span>
          <span class="accesskey">alt-a</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" valign="top">
          <%= submit_tag((@time_entry.new_record?) ? 'Add Entry' : 'Edit Entry', :accesskey => 's') %> <span class="accesskey">alt-s</span>
          <%= image_tag('ajax-loader.gif', :id => :loader, :style => "display: none;") %>
        </td>
      </tr>
    </table>
  </fieldset>
<% end %>

<script type="text/javascript">
  if ($('#time_entry_category').length) {
    $('#time_entry_category').focus();
  }
</script>
