<% unless @date_shown.include?(teline.entry_date) %>
  <tr class="entry-date">
    <td colspan="5" class="entry_date is-size-4"><%= teline.entry_date %></td>
  </tr>
  <% @date_shown << teline.entry_date %>
<% end %>

<tr class="entry" id="entry-<%= teline.id %>">
  <td>
    <%= link_to(image_tag('time_delete.svg', class: 'timetracker-icon'), delete_time_entry_url(id: teline.id), title: 'Delete this entry', class: 'entry-delete ') %>
    <%= link_to(image_tag('time_clone.svg', class: 'timetracker-icon'), clone_time_entry_url(id: teline.id), title: 'Clone this entry', class: 'entry-clone') %>
    <% if teline.user.id == @session_user.id %>
      <%= link_to(image_tag('time_edit.svg', class: 'timetracker-icon'), entry_form_time_entry_url(id: teline.id), title: 'Edit this entry', class: 'entry-edit') %>
    <% end %>
  </td>
  <td class="category"><%= h teline.category %></td>
  <td class="project"><%= h teline.project %></td>
  <td class="decimal_time"><% unless teline.decimal_time.blank? %>
    <%= h teline.decimal_time %> hours
  <% end %></td>
  <% unless session["#{@session_user.id}_active_users"].blank? %>
    <td class="username"><%= h teline.user.username %></td>
  <% end %>
</tr>

<% if teline.description.present? %>
  <tr>
    <td colspan="5" class="description"><%= h teline.description %></td>
  </tr>
<% end %>
