<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @html_title || controller.controller_path.to_s.gsub('/',' ').titleize %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'calendar_date_select/calendar_date_select' %>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'calendar_date_select/default' %>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div id="header-left">
          <h1>Time tracking.</h1>
        </div>
        <div id="header-right">
          You are logged in as: <span class="username"><%= @session_user.username %></span><br/>
          <% unless session["#{@session_user.id}_active_users"].blank? %>
            You are viewing the timesheets of: <span class="active_users"><%= h session["#{@session_user.id}_active_users"].collect{|u|  User.find(u).username}.join(', ') %></span>
        <% end %>
          <% if @session_user.superadmin %>
            <div id="user_chooser">
              <div id="user-chooser-toggle">View other timesheets</div>
              <div id="user_remove"><%= link_to('Remove a user',url_for(:controller => :time_entry, :action => :choose_user)) %></div>
              <% form_tag url_for(:action => :sudo), {:id=> 'sudo', :style => 'display:none;'}  do %>
                <div id="user-list">
                  <% User.with_time_entries.each do |u| %>
                    <%= check_box_tag('active_users[]', u.id, ((session["#{@session_user.id}_active_users"]) ? session["#{@session_user.id}_active_users"].include?(u.id.to_s) : false )) %> <%= h u.username %><br/>
                  <% end %>
                </div>
                <%= submit_tag 'go' %><br/>
                <span>Uncheck all users to view only your own timesheets.</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div> <!-- /#header -->
      <div style="clear:both;"></div>
      <div id="left">
        <h2>Months</h2>
        <ul id="months">
        </ul>
        <ul>
          <li><%= link_to('all time', :controller => '/time_entry', :action => :index, :all => true ) %> | 
          <%= link_to('csv', :controller => '/time_entry', :action => :index, :all => true, :csv => 1 ) %></li>
      </ul>
        <h2>Daily Totals</h2>
        <ul id="days">
        </ul>
        <div id="popular">
          <h2>Most popular. . .</h2>
          <h3>Categories</h3>
          <ul id="popular_categories">
          </ul>
          <h3>Projects</h3>
          <ul id="popular_projects">
          </ul>
        </div>

      </div><!-- /#left -->

      <div id="main">
        <%= render :partial => '/shared/messages', :object => 'error' %>
        <%= render :partial => '/shared/messages', :object => 'notice' %>
        <div id="entries">
          <%= yield %>
        </div><!-- /#entries -->
      </div><!-- /#main -->

      <div id="footer">
        Footer Text
      </div>

    </div><!-- /#page -->
  </body>
</html>
