<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @html_title || controller.controller_path.to_s.gsub('/',' ').titleize %></title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :head %>
    <%= render '/shared/js_vars' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div id="header-left">
          <h1>Time tracking</h1>
        </div>
        <div id="header-right">
          You are logged in as: <span class="username"><%= @session_user.username %></span><br/>
          <% unless session["#{@session_user.id}_active_users"].blank? %>
            You are viewing the timesheets of: <span class="active_users"><%= h session["#{@session_user.id}_active_users"].collect{|u|  User.find(u).username}.join(', ') %></span>
        <% end %>
        <% if @session_user.superadmin %>
          <div id="user_chooser">
            <div id="user-chooser-toggle">View other timesheets</div>
            <div id="user_remove"><%= link_to('Remove a user', choose_user_time_entries_url) %></div>
            <%= form_with url: sudo_time_entries_url, id: 'sudo', html: { style: 'display:none;' } do |f| %>
              <div id="user-list">
                <%= f.collection_check_boxes :active_users, User.with_time_entries, :id, :username %>
              </div>
              <%= submit_tag 'go' %><br/>
              <span>Uncheck all users to view only your own timesheets.</span>
            <% end %>
          </div>
        <% end %>
        </div>
      </div> <!-- /#header -->
      <div style="clear:both;"></div>
      <div id="left">
        <h2>Months</h2>
        <ul id="months">
        </ul>
        <ul>
          <li>
            <%= link_to 'all time', root_url(all: true) %> |
            <%= link_to 'csv', root_url(all: true, csv: 1) %>
          </li>
      </ul>
        <h2>Daily Totals</h2>
        <ul id="days">
        </ul>
        <div id="popular">
          <h2>Most popular. . .</h2>
          <h3>Categories</h3>
          <ul id="popular_categories">
          </ul>
          <h3>Projects</h3>
          <ul id="popular_projects">
          </ul>
        </div>

      </div><!-- /#left -->

      <div id="main">
        <%= render '/shared/messages' %>
        <div id="entries">
          <%= yield %>
        </div><!-- /#entries -->
      </div><!-- /#main -->

      <div id="footer">
        © 2022 Timetracker
      </div>

    </div><!-- /#page -->

    <%= javascript_include_tag :application %>
  </body>
</html>
