<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @html_title || controller.controller_path.to_s.gsub('/',' ').titleize %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :head %>
    <%= render '/shared/js_vars' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_url %>">
          <h3 class="logo is-size-3">T <%= image_tag('time.svg') %> TRACK</h3>
        </a>

        <% if @session_user&.superadmin %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        <% end %>
      </div>

      <div class="navbar-menu" id="top-navbar-menu">
        <div class="navbar-start">
          <% if @session_user&.superadmin %>
            <%= link_to('Users', users_url, class: 'navbar-item') %>
            <%= link_to('Periods', periods_url, class: 'navbar-item') %>
            <%= link_to('View other timesheets', view_other_timesheets_users_url, class: 'navbar-item') %>
          <% end %>
        </div>

        <div class="navbar-end">
          <% if @session_user %>
            <div class="navbar-item">
              <div>
                You are logged in as
                <div class="username"><%= clean_username(@session_user.username) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <%= render "layouts/#{layout_type}_content" %>

    <div id="footer">
      © 2022 Timetracker
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
