<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @html_title || controller.controller_path.to_s.gsub('/',' ').titleize %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :head %>
    <%= render '/shared/js_vars' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h3 class="logo is-size-3">T <%= image_tag('time.svg') %> TRACK</h3>
        </a>

        <% if @session_user.superadmin %>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        <% end %>
      </div>

      <div class="navbar-menu" id="top-navbar-menu">
        <div class="navbar-start">
          <% if @session_user.superadmin %>
            <%= link_to('Users', users_url, class: 'navbar-item') %>
            <%= link_to('View other timesheets', view_other_timesheets_time_entries_url, class: 'navbar-item') %>
          <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div>
              You are logged in as
              <div class="username"><%= @session_user.username %></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container is-fluid">
      <div class="columns is-desktop">
        <div class="column sidebar is-full-mobile is-full-tablet is-one-third-desktop is-one-quarter-widescreen">
          <div class="box">
            <h5 class="has-text-weight-bold is-size-5 has-text-centered">Select month</h5>
            <ul id="months"></ul>
            <h5 class="has-text-weight-bold is-size-5 has-text-centered mt-2">Daily Totals</h5>
            <ul id="days">
            </ul>
            <div id="popular" class="p-4">
              <h5 class="has-text-weight-bold is-size-5 has-text-centered">Most popular</h5>
              <h3 class="has-text-weight-bold">Categories</h3>
              <ul id="popular_categories">
              </ul>
              <h3 class="has-text-weight-bold">Projects</h3>
              <ul id="popular_projects">
              </ul>
            </div>
          </div>
        </div>

        <div class="column is-full-mobile is-full-tablet is-two-thirds-desktop is-three-quarters-widescreen">
          <div class="box">
            <%= render '/shared/messages' %>
            <div id="entries">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      © 2022 Timetracker
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
